# <center> Домашнее задание № 1 (демо).  <br> Анализ данных по доходу населения UCI Adult </center>

In [84]:
import numpy as np
import pandas as pd

In [85]:
data = pd.read_csv('adult.data.csv')

In [86]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

##### 1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?

In [87]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

##### 2. Каков средний возраст (признак age) женщин?
Для поиска среднего возраства женщин, отбираем по признаку sex женщин и находим среднее значение при помощи метода mean.
В 3-5 вопросе применяется такой же способ решения.

In [88]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

##### 3. Какова доля граждан Германии (признак native-country)?

In [89]:
data[data['native-country'] == 'Germany']['age'].count()

137

##### 4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?

In [90]:
print('Менее 50K в год(средн. и квадр.) ' + str(data[data['salary'] == '<=50K']['age'].mean()) + \
      ' и ' + str(data[data['salary'] == '<=50K']['age'].std()))
print('Более 50K в год(средн. и квадр.) ' + str(data[data['salary'] == '>50K']['age'].mean()) + \
      ' и ' + str(data[data['salary'] == '>50K']['age'].std()))

Менее 50K в год(средн. и квадр.) 36.78373786407767 и 14.020088490824813
Более 50K в год(средн. и квадр.) 44.24984058155847 и 10.51902771985177

##### 6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)
Для решения этого вопроса был использован метод apply с lambda-функцией для нахождения высшего образования в признаке education, среди людей, которые получают более 50K.
По выводу видно, что среди людей, получающиюх более 50K, в основном люди с высшим образованием.

In [91]:
edu = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
data[data['salary'] == '>50K']['education'].apply(lambda x: any(a in x for a in edu)).value_counts()

True     4535
False    3306
Name: education, dtype: int64

##### 7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.
Чтобы вывести макс. возраст мужчин расы Amer-Indian-Eskimo, необходимо отфильтровать данные по этой расе, а далее сгруппировать и с помощью метод max найти максимальный возраст.

In [92]:
data[(data['race'] == 'Amer-Indian-Eskimo') & (data['sex'] == 'Male')].groupby('race')['age'].max()

race
Amer-Indian-Eskimo    82
Name: age, dtype: int64

##### 8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

In [93]:
data[(data['salary'] == '>50K') & (data['sex'] == 'Male') & (data['marital-status'].apply(lambda x: 'married-' in x.lower()))]['sex'].count(), \
data[(data['salary'] == '>50K') & (data['sex'] == 'Male') & (~data['marital-status'].apply(lambda x: 'married-' in x.lower()))]['sex'].count()

(5965, 697)

##### 9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?

In [94]:
data[data['hours-per-week'] == data['hours-per-week'].max()]['sex'].count()

85

##### 10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).
Для решения этого задания была использована сводная таблица индексами являются страны, колонками признак зарплаты, значениями - часы в неделю. И для подсчета среднего значения часов используются aggfunc с методом mean.

In [95]:
pd.crosstab(data['native-country'], data['salary'], data['hours-per-week'], aggfunc='mean')

salary                          <=50K       >50K
native-country
?                           40.164760  45.547945
Cambodia                    41.416667  40.000000
Canada                      37.914634  45.641026
China                       37.381818  38.900000
Columbia                    38.684211  50.000000
Cuba                        37.985714  42.440000
Dominican-Republic          42.338235  47.000000
Ecuador                     38.041667  48.750000
El-Salvador                 36.030928  45.000000
England                     40.483333  44.533333
France                      41.058824  50.750000
Germany                     39.139785  44.977273
Greece                      41.809524  50.625000
Guatemala                   39.360656  36.666667
Haiti                       36.325000  42.750000
Holand-Netherlands          40.000000        NaN
Honduras                    34.333333  60.000000
Hong                        39.142857  45.000000
Hungary                     31.300000  50.000000
India                       38.233333  46.475000
Iran                        41.440000  47.500000
Ireland                     40.947368  48.000000
Italy                       39.625000  45.400000
Jamaica                     38.239437  41.100000
Japan                       41.000000  47.958333
Laos                        40.375000  40.000000
Mexico                      40.003279  46.575758
Nicaragua                   36.093750  37.500000
Outlying-US(Guam-USVI-etc)  41.857143        NaN
Peru                        35.068966  40.000000
Philippines                 38.065693  43.032787
Poland                      38.166667  39.000000
Portugal                    41.939394  41.500000
Puerto-Rico                 38.470588  39.416667
Scotland                    39.444444  46.666667
South                       40.156250  51.437500
Taiwan                      33.774194  46.800000
Thailand                    42.866667  58.333333
Trinadad&Tobago             37.058824  40.000000
United-States               38.799127  45.505369
Vietnam                     37.193548  39.200000
Yugoslavia                  41.600000  49.500000